* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

.appContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.mainContainer {
  flex: 1;
}
